
/* Your CSS Code here. */
.row{
	height: 33vh;
	margin: 10px 10px;
}
.container{
	padding: 10px;
	margin: 10px;
	background: limegreen;
}
*{
	background: pink
}
.r1c1{
	background: purple;
	border: dotted;
}
.r1c2{
	background: grey;
	border: dotted;
}
.r2c1{
	background: tomato;
	border: dotted;
}
.r2c2{
	background: magenta;
	border: dotted;
}
.r3c1{
	background: magenta;
	border: dotted;
}
.r3c2{
	background: greenyellow;
	border: dotted;
}